<ion-header>
  <ion-toolbar>
    <ion-title>Comparador de Combustível</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="linha">
    <ion-col size-sm="12" size-md="6">
      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Valor do litro da Gasolina (R$)</ion-label>
              <ion-input type="number" [(ngModel)]="gasolina" min="0"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Valor do litro do Álcool (R$)</ion-label>
              <ion-input type="number" [(ngModel)]="alcool" min="0"></ion-input>
            </ion-item>
            <ion-button expand="block" (click)="comparar()">Comparar</ion-button>
            <ion-item>
  <ion-label position="floating">Resultado</ion-label>
  <ion-input [value]="resultado" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Razão</ion-label>
    <ion-input [value]="razao" readonly></ion-input>
    </ion-item>

          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">Gabriela de Oliveira</ion-title>
  </ion-toolbar>
</ion-footer>
